{% extends 'base.html' %}

{% block content %}
<br>
<h3>Add Your Answer:</h3>

<div>
    <button type="submit"><a class="" href="{% url 'auth_logout' %}">Logout</a></button>
    <button type="submit"><a class="" href="{% url 'home' %}">Home</a></button>
    <button type="submit"><a class="" href="{% url 'view_user_questions' %}">Question Libary</a></button>
</div>
<br>
<div>
    <form class="" action="{% url 'add_answer' question_pk=question.pk %}" method="POST">
        {% csrf_token %}
        {{ answer_form.as_p }}
        <div>
            <button class="" type="submit">Submit Answer</button>
        </div>
    </form>
</div>

{% endblock %}