{% extends 'base.html' %}

{% block content %}

<h2>Search All Questions</h2>

<form action="{% url 'search_questions' %}" method='GET'>
    <input type='search' name='q' placeholder="Enter search here" class="">
    <p>
        <button class="" type="submit">Show Results</button>
        <button class="" type="submit"><a class="" href="{% url 'search_questions' %}">Clear Search</a></button>
    </p>
</form>


<ul>
    {% for result in results %}
        <li><a class="" href="{% url 'view_question' question_pk=result.pk %}">{{ result.question_title }}</a></li>
    {% endfor %}
</ul>



{% endblock %}