{% extends 'base.html' %}
{% load markdownify %}

{% block content %}

<div>
    <button type="submit"><a class="" href="{% url 'home' %}">Home</a></button>
    {% if user.is_authenticated %}
    <button type="submit"><a class="" href="{% url 'view_user_questions' %}">Question Libary</a></button>
    {% endif %}
    <button type="submit"><a class="" href="{% url 'ask_question' %}">Ask a New Question</a></button>
    <button type="submit"><a class="" href="{% url 'search_questions' %}">Search Forum</a></button>
</div>



<h4>{{ question.question_title }}</h4>
<p>{{ question.question_body |markdownify }}</p>
<p>{{ question.date_field }}</p>
<br>

{% if user.is_authenticated %}

    <a style="text-decoration: none; color: blue;" id="favoritethis" data-question-id="{{ question.pk }}" href="#">
    {% if is_user_favorite %}
        &#x2605;
    {% else %}
        &#x2606;
    </a>
    {% endif %}

<div>
    <button type="submit"><a href="{% url 'delete_question' question_pk=question.pk %}">Delete Question</a></button>
</div>

{% endif %}
<br>
<h4>Answers</h4>

<ul>
    {% for answer in question.answers.all %}
        <li><p>{{ answer.answer_text |markdownify }}</p><p>{{ answer.date_field }}</p></li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
<h4>Add Your Answer:</h4>
<div>
    <form class="" action="{% url 'add_answer' question_pk=question.pk %}" method="POST">
        {% csrf_token %}
        {{ answer_form.as_p }}
        <div>
            <button class="" type="submit">Submit Answer</button>
        </div>
    </form>
</div>
{% endif %}

<script>
    const favoriteQuestionLink = document.querySelector("#favoritethis")
    favoriteQuestionLink.addEventListener('click', event => {
        event.preventDefault()
        const questionId = favoriteQuestionLink.dataset.questionId
        fetch('/questionbox/' + questionId + '/favorite/', {
            method: 'POST',
            credentials: 'include'
        })
        .then(res => res.json())
        .then(data => {
            if (data.isFavorite) {
                favoriteQuestionLink.innerHTML = '&#x2605;'
            } else {
                favoriteQuestionLink.innerHTML = '&#x2606;'
            }
        })
    })
</script>

{% endblock %}