<!DOCTYPE html>
{% load markdownify %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Questionbox{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="{% static 'script.js' %}"></script>
</head>

<body>

<div>
    <h1>Questionbox</h1>
    <h6>A Community of Helpful Software Developers</h6>
</div>

{% if user.is_authenticated %}
    <p>Welcome back, {{ user.username }}!</p>
        <button type="submit"><a class="" href="{% url 'auth_logout' %}">Logout</a></button>
        <button type="submit"><a class="" href="{% url 'home' %}">Home</a></button>
        <button type="submit"><a class="" href="{% url 'search_questions' %}">Search Questions</a></button>
        <button type="submit"><a class="" href="{% url 'view_user_questions' %}">View Your Questions</a></button>
        <button type="submit"><a class="" href="{% url 'ask_question' %}">Ask a New Question</a></button>
        <button type="submit"><a class="" href="{% url 'profile_view' username=user.username %}">View Profile</a></button>
        
    {% else %}
        <br>
        <div>
            <button type="submit"><a class="" href="{% url 'auth_login' %}">Login</a></button>
            <button type="submit"><a class="" href="{% url 'home' %}">Home</a></button>
            <button type="submit"><a class="" href="{% url 'search_questions' %}">Search Questions</a></button>
        </div>
    {% endif %}
<br>
{% block content %}
{% endblock %}

</body>

</html>